/* .Home {
    width: 85%;
} */

.Home .top-bar {
    position: sticky;
    top: 0;
    z-index: 3; /* To ensure it's above the content below */
}

.Home .top-bar .header {
    background-color: #252627;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Home .top-bar .header .back {
    color: white;
    margin-left: 10px;
    margin-right: 15px;
}

.Home .top-bar .header .buttons .MuiButtonBase-root {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px;
    font-size: 12px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Home .top-bar .header .buttons {
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
}

.Home .top-bar .header .buttons .divider{
    width: 5px;
}

.Home .top-bar .header .MuiFormControl-root.MuiTextField-root{
    width: 200px;
    transform: scale(0.75);
}

.Home .top-bar .header .MuiFormLabel-root.MuiInputLabel-root {
    color: rgba(255, 255, 255, 0.9);
}

.Home .top-bar .header .MuiInputBase-root.MuiOutlinedInput-root {
    color: rgba(255, 255, 255, 0.9);
}

.Home .top-bar .header .MuiOutlinedInput-notchedOutline {
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
}






.body {
    width: 85%;
    margin: 0 auto; /* Centers the div horizontally */
}





.divider {
    margin-bottom: 10px;
}
