.Home {
    width: 85%;
}

.Home .title {
    font-family: "Plus Jakarta Sans";
    font-weight: 800;
    font-size: 36px;
}

.Home .MuiSnackbar-root {
    margin-bottom: 20px;
}

/* Start Date CSS */
/* .MuiButtonBase-root.MuiPickersDay-root {
    color: white;
}

.MuiTypography-root.MuiDayCalendar-weekDayLabel {
    color: white;
}
.MuiButtonBase-root.MuiIconButton-root.MuiPickersCalendarHeader-switchViewButton{
    color: white;
}

.MuiButtonBase-root.MuiIconButton-root.MuiPickersArrowSwitcher-button {
    color: white;
} */
/* End Date CSS */

.Home .search-parameters {
    margin-top: 20px;
    background-color: #2b2c2d;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px;
}

.Home .search-parameters .search-parameters-item {
    width: 100%;
}

.Home .search-parameters .search-parameters-item .MuiFormLabel-root.MuiInputLabel-root {
    color: rgba(255, 255, 255, 0.9);
}
.Home .search-parameters .search-parameters-item .MuiInputBase-root.MuiOutlinedInput-root {
    color: rgba(255, 255, 255, 0.9);
}

.Home .search-parameters .search-parameters-item .MuiOutlinedInput-notchedOutline {
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
}

.divider {
    margin-bottom: 10px;
}
