
.SelectGameCard {
    margin-bottom: 20px;
}

.SelectGameCard .MuiPaper-root.MuiCard-root {
    color: #ffffff;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px;
    background-color: #1d1e1f;
}

.SelectGameCard .spread{
    margin-top: 10px;
    text-align: center;
    color: #a4a5a6;
    font-weight: 100;
    font-size: medium;
}