.Info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Info .left .logo-and-name {
    display: flex;
    align-items: center;
}

.Info .info-divider {
    margin-bottom: 10px;
}

.Info .MuiDivider-root {
    border-color: rgba(255, 255, 255, 0.12);
    margin-left: 10px;
    margin-right: 10px;
}

.Info .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Info .right .scores,
.Info .right .records {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Info .right .scores .score,
.Info .right .records .record {
    height: 4vh;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.Info .gap {
    text-align: center;
}
